
#Jumpscare {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #140720;
}

.GrassBackground {
    background-color: #efecca;
}

#Grass {
    background-color: #d5e68d;
    height: 300px;
    width: 100%;
}

.Fullscreen {
    padding: 5px;
    height: 96vh;
    width: 98vw;
}

#MainGame {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}