html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#BabyCowPage{
    cursor: url('src/assets/cursors/milk-bucket.cur'), auto;
    background-image: url('src/assets/baby-grass.jpeg');
    background-size: cover;
    margin: 0;
    padding: 0;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh;
}

#Cow{
    width: 400px;
    height: 500px;
}

#Cow:hover{
    transform: scale(1.1);
    transition: transform 0.3s;

    cursor: url('src/assets/cursors/steak.cur'), auto;
}

#Steak{
    animation: SteakMove 10s infinite ease-in-out;
}

@keyframes SteakMove{
    0% { transform: translateX(1200px); }
    50% { transform: translateX(-1200px); }
    100% { transform: translateX(1200px); }
}

@keyframes CowDance {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(100deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-100deg); }
    100% { transform: rotate(0deg); }
}