.triangle {
    width: 600px;
    height: auto;
    z-index: 1;
}
.big_cow {
    font-size: 24px;
    font-style: bold;
    margin: 20px;
    background: none;
    border: none;
}

.special_cow {
    font-size: 20px;
    position: fixed;
    font-style: bold;
    top: 80vh;
    left: 21vw;
    background: none;
    border: none;
    width: 150px;
    height: auto;
}

.little_cow {
    font-size: 20px;
    position: fixed;
    font-style: bold;
    top: 80vh;
    left: 70vw;
    background: none;
    border: none;
    width: 130px;
    height: auto;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_cow {
    position: fixed;
    width: 300px;
    height: auto;
    top: 350px;
    left: 41vw;
    z-index: 2;
}

.special_cow_image {
    position: fixed;
    width: 300px;
    height: auto;
    top: 520px;
    left: 5vw;
    z-index: 2;
}

.big_cow_image {
    position: fixed;
    width: 70px;
    height: auto;
    top: 75px;
    left: 47.8vw;
    z-index: 2;
}

.baby_cow_image {
    position: fixed;
    width: 150px;
    height: auto;
    top: 547px;
    left: 78vw;
    z-index: 2;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}