
.triangle {
    width: 600px;
    height: auto;
    z-index: 1;
}
.big_cow {
    font-size: 24px;
    margin: 20px;
  background: none;
  border: none;
}

.special_cow {
  font-size: 20px;
  position: fixed;
  top: 80vh;
  left: 21vw;
  background: none;
  border: none;
  width: 120px;
  height: 100px;
}

.little_cow {
  font-size: 20px;
  position: fixed;
  top: 80vh;
  left: 71vw;
  background: none;
  border: none;
  width: 120px;
  height: 100px;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

<<<<<<< Updated upstream
=======
.main_cow {
    position: fixed;
    width: 300px;
    height: auto;
    top: 350px;
    left: 41vw;
    z-index: 2;
}

.special_cow_image {
    position: fixed;
    width: 300px;
    height: auto;
    top: 520px;
    left: 5vw;
    z-index: 2;
}

.big_cow_image {
    position: fixed;
    width: 70px;
    height: auto;
    top: 80px;
    left: 47.8vw;
    z-index: 2;
}
>>>>>>> Stashed changes
